form{
    border:solid 1px;
    height: 550px;
    width: 550px;
    margin: 390px;
    padding-left: 10px;
    background-color: rgb(0, 255, 221);
}
h1{
    font-size: 40px;
    text-align: center;
    color: yellowgreen;
}
p{
    font-size: 18px;
    font-weight: bold;
}
label{
    font-size: 22px;
    color:blue;
    font-weight:bold ;
}
input{
    height: 30px;
    width: 320px;
}
textarea{
    height: 100px;
    width: 320px;
}
form{
    border: solid 1px;
    width: 450px;
}
